@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
   Av Embaixador Abelardo Bueno, 1111<br />
    Barra da Tijuca, RJ CEP 22775-039<br />
    <abbr title="Telefone">P:</abbr>
    (21) 3500.5191
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:infraestrutura@targetmp.com.br">infraestrutura@targetmp.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@targetmp.com.br">marketing@targetmp.com.br</a>
</address>