
@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>
<div class="container">
    <hr />
    <h3>Cadastro de modelos</h3>
    <div class="container">
        <div class="row align-items-start">
                <div class="col-sm">
                    <p><a class="btn btn-default" href="/ModMonitor/">Monitor &raquo;</a></p>
                </div>
                <div class="col-sm">
                    <p><a class="btn btn-default" href="/ModPc/">Pcs &raquo;</a></p>
                </div>
                <div class="col-sm">
                    <p><a class="btn btn-default" href="/ModSoftwares/">Software &raquo;</a></p>
                </div>
        </div>
    </div>
        <div class="container">
            <div class="row align-items-start">
                <div class="col-sm">
                    <p><a class="btn btn-default" href="/ModImpressoras/">Impressoras &raquo;</a></p>
                </div>
                <div class="col-sm">
                    <p><a class="btn btn-default" href="/ModTelefones/">Telefones &raquo;</a></p>
                </div>
                <div class="col-sm">
                    <p><a class="btn btn-default" href="/ModTeclados/">Teclado &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-start">
                <div class="col-sm">
                    <p><a class="btn btn-default" href="/ModCftvs/">CFTV &raquo;</a></p>
                </div>
                <div class="col-sm">
                    <p><a class="btn btn-default" href="/ModMoveis/">Moveis &raquo;</a></p>
                </div>
                <div class="col-sm">
                    <p><a class="btn btn-default" href="/Fabricantes/">Fabricantes &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-start">
                <div class="col-sm">
                    <p><a class="btn btn-default" href="/Fornecedores/">Fornecedores &raquo;</a></p>
                </div>
            </div>
        </div>
</div>




